export YADTK=/export/home/sysadmin/crb/yadtk
export YADE_SERVER=localhost:12347
export YADEVIZ_FLAG=TRUE
export SCRIPT=yadeclient.py
export DATA=DEMO_NAO
export INPUT=
export INPUT_MODULE=''
export OUTPUT_MODULE=''
export CONFIG='<client-yade position="600+470" script="yadeclient.py" visualization="TRUE"> <import module="naoqi" robot="192.168.104.130:9559"/> <import module="control" position="30+50"/> <import module="keyboard" lang="en-US"/> <import module="nao_output"/> </client-yade>'
