export YADTK=/Users/lehuen/Documents/Universite/Recherche/YADTK_FOLDER
export YASP_SERVER=localhost:12345
export YASPVIZ_FLAG=TRUE
export SCRIPT=yaspclient.py
export DATA=SNCF
export INPUT=
export PDF=
export CONFIG='<client-yasp position="500+400" script="yaspclient.py" visualization="TRUE"> <import module="control" position="30+400"/> <import module="keyboard"/> </client-yasp>'
