
* {
	font-family: Verdana, Arial, sans-serif;
}
body {
	background-color: lightgrey;
	padding: 10px;
}
h2 {
	color: #00AAED
}
.final {
	color: black;
}
.interim {
	color: gray;
}
.center {
	text-align: center;
}
.left {
	float: left;
}
.right {
	float: right;
}
#start_button {
	border: 0;
	outline: none;
	background-color: transparent;
	padding: 10px;
}
#results {
	background-color: white;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid;
	padding: 15px;
	text-align: left;
	min-height: 80px;
}
#info {
	font-size: 15px;
	padding: 10px;
	text-align: center;
	color: #777;
	visibility: hidden;
}
